       <main>
                <h1>Welcome to SoftUni Wiki!</h1>
                <section id="featured">
                    <h2>Latest article</h2>
                    <article>
                        <h3>Astronomy</h3>
                        <p>
                             {{#if allLastContents}}
                                {{allLastContents}}
                             {{else}}
                             No Articles in database
                             {{/if}}
                        </p>
                        <div class="controls">
                            <a href="/articles/detailed/{{mainArticleLink}}">Read more</a>
                        </div>
                    </article>
                </section>
                <section id="recent">
                    <h2>Recently added articles</h2>
                    <ul>
                        {{#if recentTriArticles}}
                             {{#each recentTriArticles}}
                                 <li>
                                     <a href='/articles/detailed/{{this._id}}'> {{this.title}}</a>
                                 </li>
                            {{/each}}
                        {{else}}
                            No Ricent articles
                        {{/if}}
                       
                    </ul>
                </section>
            </main>