
<div class="error">
    {{error}}
</div>
<form method="POST">
    Title: 
    <input type="text" name="title" value="{{title}}" /> <br>
    Author:
    <input type="text" name="author" value="{{author}}"/><br>
    Release Year:
    <input type="date" name="releaseYear" value="{{releaseYear}}"><br>
    Image URL:
    <input type="url" name="imageUrl" value="{{imageUrl}}"><br>
    <input type="Submit" value="Submit" >
</form>
